{% extends 'base.html.twig' %}

{% block title %}
  Calculadora
{% endblock %}

{% block body %}
<div class="p-5" data-controller="calculator" data-calculator-url-value="{{ url('app_index')}}">
  <h4 class="mb-3">Calculadora estándar</h4>
  <h6 class="mb-3 text-muted">( Formatos numéricos validos : 1, -3, 1.8, ... )</h6>
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Número 1</span>
        </div>
        <input type="number" class="form-control" data-calculator-target="num1" data-action="keypress->calculator#validate" pattern="^([\-]?[0-9]*[\.]?[0-9]+)$" required>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Número 2</span>
        </div>
        <input type="number" class="form-control" data-calculator-target="num2" data-action="keypress->calculator#validate" pattern="^([\-]?[0-9]*[\.]?[0-9]+)$" required>
      </div>

      <div class="input-group mb-3">
        <div>
          {% for key, operation in operations %}
          <button class="btn btn-outline-secondary" data-operator="{{ key }}" data-action="click->calculator#operation">{{ operation }}</button>
          {% endfor %}
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend flex-colunm col-3 px-0">
          <input type="text" class="form-control" placeholder="Resultado" data-calculator-target="result" disabled>
        </div>

        <button class="btn btn-danger" data-action="click->calculator#reset">Borrar todo</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
